
.active{
  color: #FF5E14 !important;


    }
.wrapper {
    width: 80%;
    margin: auto;
    overflow:hidden;
  }
  header {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
  }


    header nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
    }
 
 .dropdownn {
    display: inline-block;
    position: relative;
  }

  .dropdownn button {
    background-color: transparent;
    margin-top: 1.7px !important;
    border: none;
    color: #000000 !important;
    cursor: pointer;
    font-size:.8rem;
    font-weight: 280;    
    font-family: Oxygen, Roboto,  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;   
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    padding: 0.01rem 0.1rem;
  
    
  }
  .dropdownn button:hover {
    background-color: transparent;

   
  }
  .dropdownn-content {
    background-color: rgb(0, 0, 0);
    border-radius: 0.50rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
  
    width: 110%;
    padding: 0.2rem 0.1rem   !important;
    position: absolute;
    top: 3.4rem;
    z-index: 1;
    
  }
  .dropdownn:hover .dropdownn-content {
    display: block;

 
  }
  .dropdownn-content a {
    color: rgb(12, 12, 12) !important;
    display: block;
    font-size: .8rem !important;
    font-weight: 480;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    text-transform: uppercase;

  }
  .dropdownn-content a:hover {
 
  
    color: rgb(34, 31, 31) !important;
    text-decoration: underline;
  }
  

  @media (max-width: 768px) {
    .dropdownn-content {
        left: 0;
        top: 3.0rem;
        width: 80%;
    }
  }